body {
  font-family: 'Roboto', 'sans-serif'
}

table {
  border-spacing: 0;

  td, th {
      padding: 16px 0;

      &:not(:first-child) {
        padding-left: 4px;
      }
      &:not(:last-child) {
        padding-right: 4px;
      }
  }


  tr:not(:last-child) {
    td, th {
      border-bottom: 1px solid rgba(0, 0, 0, .13);
    }
  }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
