.layout {
  background-color: white;
  height: 100%;

  header {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .14);

    .header-title {
      display: flex;
      align-items: center;

      img {
        height: 24px;
      }

      span {
        margin-left: 12px;
        font-size: 24px;
        font-style: italic;
        color: rgba(0, 0, 0, .54);
      }
    }

    .gsc-control-cse {
        max-width: 400px;
        margin-top: 10px;
        padding: 0;

        td {
            border-bottom: 0;
            padding: 0;
        }

        .gsc-input {
            vertical-align: top;

            table {
                background: white;
            }
        }

        .gsib_a {
            padding-left: 10px; 
            input {
                line-height: 23px;
            }
        }

        .gsc-search-button {
            input.gsc-search-button {
                margin: 0px;
                background-color: #979797; 
            }
        }

        .gsst_a {
            padding: 0px;

            span.gscb_a {
                color: black; 
                vertical-align: middle;
            } 
        }
    }
  }

  .wrapper {
    display: flex;
    height: 100%;

    .sidebar {
      height: calc(100vh - 64px);
      min-width: 340px;
      box-sizing: border-box;
      border-right: 1px solid rgba(0, 0, 0, .14);
      overflow-y: auto;
    }

    .page-container {
      height: 100%;
      padding-left: 32px;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      overflow-y: auto;

      .page {
        height: calc(100vh - 64px);
        width: 100%;

        @media (min-width: 840px) {
          width: 66.66%;
        }

        h1 {
          font-size: 40px;
          margin: 30px 0 20px;
        }

        h2 {
          font-size: 32px;
          margin: 22px 0 16px;
        }

        h3 {
          font-size: 28px;
          border-bottom: 1px solid rgba(0, 0, 0, .14);
          margin: 20px 0 14px;
        }

        h4 {
          font-size: 22px;
          margin: 18px 0 11px;
        }

        h5 {
          font-size: 18px;
          margin: 16px 0 10px;
        }

        a {
          color: #0091FB;
        }
      }
    }
  }
}

nav {
  font-size: 15px;
  padding: 12px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;

    span {
      font-size: 18px;
      position: absolute;
      top: 3px;
      left: 8px;
    }

    a {
      display: block;
      padding: 4px 16px;
      text-decoration: none;
      color: rgba(0, 0, 0, .87);
      font-weight: 400;
      font-size: 14px;

      &.active {
        font-weight: bold
      }
      &.current {
        color: #ff4081
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  & > ul > li {
    & > a {
      font-weight: 700;
      padding-left: 24px
    }
    & ul li {
      & a { padding-left: 40px; }
      & span { left: 24px; }

      & ul li {
        & a { padding-left: 56px; }
        & span { left: 40px; }

        & ul li {
          & a { padding-left: 72px; }
          & span { left: 56px; }

          & ul li {
            & a { padding-left: 88px; }
            & span { left: 72px; }

            & ul li {
              & a { padding-left: 104px; }
              & span { left: 88px; }

              & ul li {
                & a { padding-left: 120px; }
                & span { left: 104px; }

                & ul li {
                    & a { padding-left: 136px; }
                    & span { left: 120px; }
                  }
              }
            }
          }
        }
      }
    }
  }
}

.page {
  .page-toc {
    border-left: 5px solid;
    padding-left: 20px;

    h4 {
      font-size: 15px;
      line-height: 16px;
      padding-bottom: 12px;
      font-weight: 400;
      color: #757575;
    }

    ul {
      list-style: none;
      margin-top: 0;
      padding-left: 0;
    }

    li {
      font-size: 20px;
      line-height: 40px;
    }
  }
}
