<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Start Layout -->
    <div class="layout">
        {% include header.html %}
        <div class="page-container">
          <div class="sidebar">
            {% include drawer.html %}
          </div>
          {{ content }}
        </div>
        {% include footer.html %}
      </div>
    </div>
    <!-- /End Layout -->

    <!-- Material Design Lite js Library -->
    <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  </body>

</html>
